<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{{ envs['base_url'] }}/static/css/custom-bootstrap.css">
<link rel="icon" type="image/svg+xml" href="{{ envs['base_url'] }}/static/favicon.svg">
