.progress {
  height: 0.5rem;
}

.bg-satisfied {
  background-color: $green;
}

.bg-invalid {
  background-color: $cyan;
}

.bg-not-sure {
  background-color: $yellow;
}

.bg-unsatisfied {
  background-color: $red;
}

.bg-wnpp {
  background-color: $gray-500;
}

.bg-no-wnpp {
  background-color: $gray-400;
}
