.list-style-horizontal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 2rem; // Counter left padding, done due to "ul" tag.
}

.bi {
  width: 0.8em;
  height: 0.8em;
}

.bi-satisfied {
  color: $green;
}

.bi-invalid {
  color: $cyan;
}

.bi-not-sure {
  color: $yellow;
}

.bi-unsatisfied {
  color: $red;
}

.bi-wnpp {
  color: $gray-500;
}

.bi-no-wnpp {
  color: $gray-400;
}
